<div class="container">
  <ul class="nav">
    <li class="nav-item">
      <a class="nav-link active" href="">All Blogs <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-list" viewBox="0 0 16 16">
        <path fill-rule="evenodd" d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z"/>
      </svg></a>
    </li>
    </ul>
<div style="width: 400px; margin: auto; " >
  <div class="card-body">
    <h1 class="card-title">EDIT BLOG</h1>
  </div>
    <div class="submit-form" novalidate>
      <form #userForm="ngForm" >
        <div class="form-group">
          <label for="title">Title</label>
          <input
            type="text"
            class="form-control"
            id="title"
            required
            [(ngModel)]="blog.title"
            name="title"
          />
        </div>
        <div class="form-group">
            <label for="category">Category</label>
            <input
              class="form-control"
              id="category"
              required
              [(ngModel)]="blog.category"
              name="category"
            />
          </div>
          <div class="form-group">
            <label for="content">Content</label>
            <input
              class="form-control"
              id="content"
              required
              [(ngModel)]="blog.content"
              name="content"
            />
          </div>
          <br>
          <a class="btn btn-success" (click)="updateBlog()">Edit</a>
          </form>
          </div>
          </div>
        </div>
        